$header-bg-color: #f7f8fa;

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: $header-bg-color;
  .nav-menu-item {
    margin: 0 2vw;
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    color: #1a1a1a;
    transition: all 0.3s;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border-top: 1px dashed rgba(31, 31, 31, 0.5);
      border-bottom: 1px dashed rgba(31, 31, 31, 0.5);
      transform: scale(0.1, 1);
    }

    &:hover::before {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}
