<div class="social-networks-block">
  <div class="social-network-item" id="vk">
    <svg class="social-network-icon">
      <use xlink:href="./assets/sprite.svg#vk"></use>
    </svg>
  </div>
  <div class="social-network-item" id="facebook">
    <svg class="social-network-icon">
      <use xlink:href="./assets/sprite.svg#facebook"></use>
    </svg>
  </div>
  <div class="social-network-item"  id="instagram">
    <svg class="social-network-icon">
      <use xlink:href="./assets/sprite.svg#instagram"></use>
    </svg>
  </div>
  <div class="social-network-item" id="YT">
    <svg class="social-network-icon" >
      <use xlink:href="./assets/sprite.svg#YT"></use>
    </svg>
  </div>
  <div class="social-network-item" id="Ok">
    <svg class="social-network-icon">
      <use xlink:href="./assets/sprite.svg#Ok"></use>
    </svg>
  </div>
</div>
