<div class="contact-block">
  <div class="contact-phone">
    <svg class="phone-icon" id="A1">
      <use xlink:href="./assets/sprite.svg#A1"></use>
    </svg>
    <p>+375 29 302 10 21</p>
  </div>

  <div class="more-field"></div>
  <div class="contact-phone">
    <svg class="phone-icon" id="life">
      <use xlink:href="./assets/sprite.svg#life"></use>
    </svg>
    <p>+375 25 502 10 21</p>
  </div>
  <div class="contact-phone">
    <svg class="phone-icon" id="home">
      <use xlink:href="./assets/sprite.svg#home"></use>
    </svg>
    <p>+375 17 302 10 21</p>
  </div>
  <a class="contact-connection" href="https://www.viber.com/21vek.by">
    <svg class="connection-icon" id="viber">
      <use xlink:href="./assets/sprite.svg#viber"></use>
    </svg>
    <p>Viber</p>
  </a>
  <a class="contact-connection" href="http://t.me/e21vekbot">
    <svg class="connection-icon" id="telegram">
      <use xlink:href="./assets/sprite.svg#telegram"></use>
    </svg>
    <p>Telegram</p>
  </a>
  <a class="contact-connection" href="mailto:21@21vek.by">
    <svg class="connection-icon">
      <use xlink:href="./assets/sprite.svg#email"></use>
    </svg>
    <p>Почта</p>
  </a>
  <div class="contact-connection">
    <svg class="connection-icon">
      <use xlink:href="./assets/sprite.svg#message"></use>
    </svg>
    <p>Написать нам</p>
  </div>
</div>
