<app-banner></app-banner>
<app-slider></app-slider>
<div class="store-description">
  <p>
    Данный сайт представляет собой интернет-магазин. Прототипом приложения можно
    считать сайт электронного магазина
    <a href="https://www.21vek.by/">21 Век</a>. Данный проект реализован с
    помощью фраемвока Angular. Приложение реализовано по принципу SPA.
  </p>
  <br />
  <p>
    Реализован переход по ссылкам внутри сайта, так же добавлено страница 404,
    для исключения ошибок.
  </p>
  <br />
  <p>
    При загрузке преложения идет определение местоположения пользователя и
    отображение в строке состояния в header, при неточном определении можно
    выбрать точное местоположение с помощью pop-up меню(Реализованы все города
    Беларуси).
  </p>
  <br />
  <p>
    На главной страницы присутствует слайдер с акциями и свапер с популярными
    товарами.
  </p>
  <br />
  <p>
    Реализован поиск, авторизация, навигация по категориям и подкатегориям с
    иерархией. Возможно осуществить сортировку по таварам заданной катгории.</p>
  <br />
  <p>
    Работа с товарами осуществляется как на отдельной странице так и со страницы
    каегорий.
  </p>
  <br />
  <p>Из меню доступны: Избранные товары, Корзина и Лист ожидания.</p>
</div>
